HTTP_URL=http://localhost:8080
WS_URL=ws://localhost:8080/exchange-socket
AWS_WS_URL=wss://YOUR_AWS_API_GATEWAY_WEBSOCKET_URL_HERE

HTE_CONFIG_PATH=assets/config.infinite.json
HTE_DB_PATH=assets/data.json

ORDER_MAX_PRICE=1000
ORDER_MIN_PRICE=0
ORDER_MAX_VOLUME=1000
ORDER_MIN_VOLUME=0

ADMIN_USERNAME=YOUR_ADMIN_USERNAME_HERE
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD_HERE
