# macos
.DS_Store

# ide/editor specific
.vscode/
.idea/
*.iml

# java/mvn outputs
/target/
*.class
hte-1.0-SNAPSHOT.jar
spotless-index
generated-sources/
generated-test-sources/
maven-status/

# python and envs
.venv/
.env
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

# misc
docs/
